body {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: solid 1px;
}

input {
    border: none;
    width: 3em;
    height: 3em;
    text-align: center;
    font-size: larger;
}

.somaerradadiagonalprincipal input,
.somaerradadiagonalsecundaria input,
.somaerradalinha input,
.somaerradacoluna input {
    color: orange;
}

.somaerradadiagonalprincipal,
.somaerradadiagonalsecundaria,
.somaerradalinha,
.somaerradacoluna {
    border-color: orange;
    border-width: 2px;
}


.foradoslimites input, 
.numerosrepetidos input {
    color: red;
}

.foradoslimites, 
.numerosrepetidos {
    border-color: red;
    border-width: 2px;
}

.vitoria tr td input {
    color: green;
}

.vitoria tr td  {
    border-color: green;
    border-width: 3px;
}
