body {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: solid 1px;
}

input {
    border: none;
    width: 3em;
    height: 3em;
    text-align: center;
    font-size: larger;
}

input.errado {
    color: red;
}